#logo {
    width: 200px;
    height: 200px;

}


.descricao {

    display: flex;
    background-color: beige;
    padding: 8px;
    border-radius: 20px;
    height: 50px;
    margin: 10px;

}


#imagem-principal {
    width: 170px;
    height: 170px;
    border-radius: 20px;
    border: 1px solid black;

}

section {
    display: flex;
}

.header {
display: flex;
justify-content: center;
align-items: center;

}