#logo {
    width: 300px;
    height: 30
    0px;

}


.descricao {

    display: flex;
    background-color: 
    padding: 8px;
    border-radius: 20px;
    margin: 10px;

}


#imagem-descricao {
    width: 200px;
    height: 150px;
    border-radius: 20px;

}

section {
    display: flex;
}

.header {
display: flex;
justify-content: center;
align-items: center;

}

.categorias {
width: 100%;
display: flex; 
gap: 50px;
}

.categorias button {
width: 85px;
height: 40px;
font-size: 15px;
border-radius: 10px;

}

PRODUTOS

